<% if current_user.id == @options[:user] %>
<h1>Default Options</h1>
<div class="current-options">
  <% @options.each do |key, value| %>
    <% key = key.capitalize %>
    <% if key.to_s.include?("_") %>
      <b><%= key.to_s.gsub!(/_/, ' ') %>:</b>
    <% else %>
      <% if key.to_s == 'User' %>
        <b>User:</b> <%= User.find(value).email %>
      <% else %>
        <b><%= key %>:</b>
      <% end %>
    <% end %>
    <% if key.to_s.include?("Initial") %>
      <% @installments.each_with_index do |portion, index| %>
        <% unless index == 2 %>
          <%= portion.to_s + "%, " %>
        <% else %>
          <%= portion.to_s + "%" %>
        <% end %>
      <% end %>
    <% end %>
    <% if value.is_a?(Integer) || value.is_a?(Float) %>
      <% unless key.to_s == 'User' %>
        <%= value.to_s + "%"%>
      <% end %>
    <% elsif ! key.to_s == "User" || ! key.to_s.include?("Initial") %>
      <%= value %>
    <% end %>
    <br />
  <% end %>
</div>
<hr />
<h1>Edit Default Options</h1>
  <br />
  <h2>Change the percentage breakdown of the 3 default installments</h2>
  <strong>Edit Default Installment 1:</strong> &nbsp;<%= text_field_tag 'installment-1' %>&nbsp;
  <strong>Edit Default Installment 2:</strong> &nbsp;<%= text_field_tag 'installment-2' %>&nbsp;
  <strong>Edit Default Installment 3:</strong> &nbsp;<%= text_field_tag 'installment-3' %>&nbsp;
  <br />
  <br />
  <%= button_tag 'submit new default installments', type: "text",  id: "default-installment-submit", class: 'btn btn-secondary', data: { reflex: "click->DefaultReflex#change_default_installments", id: @company.id, installment1: "", installment2: "", installment3: "" } %>
  <br />
  <hr />
  <br />
  <h2>Change other default settings</h2>
  <strong>Edit Default PO Tax Rate:</strong> &nbsp;<%= text_field_tag 'tax' %>&nbsp;
  <strong>Edit Default Business Initiator Percentage:</strong> &nbsp;<%= text_field_tag 'finder' %>&nbsp;
  <strong>Edit Default Revenue Share Percentage:</strong> &nbsp;<%= text_field_tag 'share' %>&nbsp;
  <strong>Edit Default Associate Percentage:</strong> &nbsp;<%= text_field_tag 'associate' %>&nbsp;
  <br />
  <br />
  <%= button_tag 'submit new default Settings', type: "text",  id: "default-option-submit", class: 'btn btn-secondary', data: { reflex: "click->DefaultReflex#change_default_options", id: @company.id, tax: @options[:tax_rate].to_s, finder: @options[:business_finder].to_s, share: @options[:revenue_share].to_s, work: @options[:associate_percentage].to_s } %>
  <br />

  <script>
    var installment1Input = document.getElementById("installment-1");
    var installment2Input = document.getElementById("installment-2");
    var installment3Input = document.getElementById("installment-3");
    var taxInput = document.getElementById("tax");
    var finderInput = document.getElementById("finder");
    var shareInput = document.getElementById("share");
    var associateInput = document.getElementById("associate");

    function noLetters(record, val) {
      $(record).bind({
        keydown: function (e) {
          if (e.shiftKey === true) {
            if (e.which == 9) {
              return true;
            }
            return false;
          }
          if (e.which > 57) {
            return false;
          }
          if (e.which == 32) {
            return false;
          }
          return true;
        }
      });
      $(record).attr("maxlength", 2);
      $(record).attr("value", val);
    }

    noLetters(installment1Input, "")
    noLetters(installment2Input, "")
    noLetters(installment3Input, "")
    noLetters(taxInput, "")
    noLetters(finderInput, "")
    noLetters(shareInput, "")
    noLetters(associateInput, "")
  </script>
<% else %>
  <h1>You don't have access to this conent</h1>
<% end %>
