<p id="notice"><%= notice %></p>
<h1>Ranking Forms</h1>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @ranking_forms.group_by(&:po).each do |po, ranking_forms| %>
      <tr>
        <td colspan="4">
          PO: <%= po %>  |  Number of Response Forms: <%= RankingForm.where(po_number: po).all.count %>
        </td>
      </tr>
      <% ranking_forms.each do |ranking_form| %>
        <tr style="font-size: .85rem;">
          <td class="upcase">Number of Associates Ranked: <%= ranking_form.rankings.count %></td>
        </tr>
        <tr>
          <td colspan="4">
            <% ranking_form.rankings.order(:rank).each_with_index do |rank, i| %>
              <% if i == 0 %>
                <span style="padding: 2px;" class="bold"><%= rank.ranking_form.name %>: </span>
              <% end %>
              <span style="padding: 2px;"><%= Participant.find(rank.participant_id).name %>: <%= rank.rank %></span>
            <% end %>
            <hr />
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Ranking Form', new_ranking_form_path %>
