<%= simple_form_for(@participant) do |f| %>
  <% if @participant.errors.any? %>
    <div id="error_explanation">
      The following errors prevented this participant from saving
      <ul>
        <% @participant.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-inputs">
    <%= f.input_field :type, as: :hidden, class: @participant.type %>
    <%= f.label 'Name' %>
    <%= f.text_field :name, class: 'form-control' %>
      <%= f.label 'Tax Rate' %>
    <%= f.text_field :tax_rate, class: 'form-control' %>
    <%= f.label 'Email Address' %>
    <%= f.text_field :emailaddress, class: 'form-control' %>
    <%= f.label 'Phone Number' %>
    <%= f.number_field :phone, class: 'form-control', input_html: { type: 'number' } %>
    <%= f.label 'Address' %>
    <%= f.text_area :address, class: 'form-control' %>
     <div class="form-selectors">
     <label>Participant Type</label>
    <%= f.select :type, [['Client', 'Client'], ['Associate', 'Associate']], class: 'form-control', label: 'Role' %>
    </div>
    <div "class="form-selectors">
    <%= f.label 'Country' %>
    <%= f.country_select :country_code, include_blank: '', required: true, priority_countries: ["AU", "CA", "CN", "FR", "DE", "GB", "IN", "JP", "MX", "NZ", "SA", "US"] %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
