<h1>Participants</h1>
<br>
<%= link_to 'New Participant', new_participant_path, class: 'btn btn-primary', style: 'position: fixed; right: 1em;' %>
<br />
<table style="width: 80%; margin: 1em;">
  <tbody>
    <tr>
      <td>
        <h2>Clients</h2>
        <table>
          <% @clients.each do |participant| %>
            <%= content_tag :tr do %>
              <%= turbo_frame_tag dom_id(participant) do %>
                <td  class="participants default-link"><%= link_to participant.name, participant_path(participant) %></td>
                <td  class="participants"><%= link_to 'edit', edit_participant_path(participant), class: 'btn btn-warning' %></td>
              <% end %>
            <% end %>
          <% end %>
        </table>
      </td>
      <td>
        <h2>Associates</h2>
        <table>
          <% @clients.each do |participant| %>
            <%= content_tag :tr do %>
              <%= turbo_frame_tag dom_id(participant) do %>
                <td  class="participants default-link"><%= link_to participant.name, participant_path(participant) %></td>
                <td  class="participants"><%= link_to 'edit', edit_participant_path(participant), class: 'btn btn-warning' %></td>
              <% end %>
            <% end %>
          <% end %>
        </table>
      </td>
    </tr>
  </tbody>
</table>
