
<%= simple_form_for(@installment) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
  <label>Due Date</label>
  <%= f.text_field :due_date, class: 'flatpickr', placeholder: 'select the due date', data: { behavior: "flatpickr" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
