<table width="100%">
        <th style="width: 25%">
            Item
        </th>
        <th style="width: 50%">
            Description
        </th>
        <th style="width: 25%">
            Price
        </th>
        <% items = '' 
        @line_items.map { |item| items = 'yes' if item.discounts.any? } %>
        <th style="width: 25%">
            <% if items == 'yes' %>
                Adjustments
            <% end %>
        </th>
        <tbody>
        <% if @statement.show_detailed == true %>
            <% @line_items.each do |item| %>
                <tr>
                    <td style="width: 25%" class="td-border">
                        <%= item.title %>
                    </td>
                    <td style="width: 50%" class="td-border">
                        <%= item.description %>
                    </td>
                    <% if items == 'yes' %>
                        <td style="width: 12.5%" class="td-border">
                            <%= sanitized_show_money(@statement, item.cost) %>
                        </td>
                        <td style="width: 12.5%;" class="td-border">
                                <% item.discounts.each do |discount| %>
                                    <div class="center"><%= render 'discount', discount: discount %></div>
                                <% end %>
                        </td>
                    <% else %>
                        <td style="width: 25%" class="td-border">
                            <%= show_money(@statement, item.cost) %>
                        </td>
                    <% end %>
                </tr>
            <% end %>
            <% else %>
                <tr>
                <td style="width: 25%" class="td-border">
                    Professonal Services
                </td>
                <td style="width: 50%" class="td-border">
                    Customized business solutions
                </td>
                <% if items == 'yes' %>
                    <td style="width: 12.5%" class="td-border">
                        <%= sanitized_show_money(@statement, @statement.no_discount_cost) %>
                    </td>
                    <td style="width: 12.5%;" class="td-border">
                            -<%= sanitized_show_money(@statement, @statement.total_discounts) %>
                    </td>
                <% else %>
                    <td style="width: 25%" class="td-border">
                        <%= sanitized_show_money(@statement, @statement.no_discount_cost) %>
                    </td>
                <% end %>
            </tr>
            <% end %>
        </tbody>
    </table>
<% end %>
<div class="top-bottom-spacing">  
<% if items == 'yes' %>
    <strong>
        <p class="upcase">Value of Items: <%= sanitized_show_money(@statement, @statement.no_discount_cost) %></p>
        <p class="green upcase">Discounts: (<%= sanitized_show_money(@statement, @statement.total_discounts) %>)</p>
    </strong>
<% end %>
    <h3 class="upcase">Subtotal: <%= sanitized_show_money(@statement, @statement.subtotal) %></h3>
</div>
<div class="extra-padding">
    <h2>Installments</h2>
    <% @installments_amounts.each_with_index do |installment, index| %>
        <p><b>Installment <%= index + 1 %>:</b> <%= sanitized_show_money(installment, installment.cost) %> due on <b><%= read_date(installment.due_date) %></b>
    <% end %>
    </div>
</div>
</div>