 <hr />
<% if !@statement.type == "GeneralStatement" || @statement.po.statements.where.not(type: "GeneralStatement").count > 1 %>
  <center>
    <table style="width: 100%;" border="0">
      <tbody>
        <tr>
          <td style="width: 33.33%">
            <% if @statement.prev. present? %>
              <div class="left-div">
                <%= link_to @statement.prev do %>
                  <span title="Another Statement" class="btn btn-primary">< Previous</span>
                    <% end %>
                  </div>
                <% elsif @statement == @statement.po.statements.where.not(achieved: true, type: "GeneralStatement").first %>
                  <div class="left-div">
                    <%= link_to @statement.po.statements.where(achieved: false).last do %>
                      <span title="Another Statement" class="btn btn-primary">< Previous</span>
                        <% end %>
                      <% end %>
                    </td>
                    <td style="width: 33.33%">
                      <center>
                        <div class="dropdown">
                          <button class="dropbtn btn btn-info">More Statements from PO <%= @statement.po.po_number %></button>
                          <div class="dropdown-content">
                            <% @statement.po.statements.where(achieved: false).all.order(:id).reverse_order.each do |statement| %>
                              <%= link_to statement_path(statement) do %>
                                <u><%= statement.type.underscore.titleize %></u> for <strong><%= statement.participant_name.split(".").last %></strong>
                              <% end %>
                            <% end %>
                            <br />
                          </div>
                        </div>
                      </center>
                    </td>
                    <td style="width: 33.33%">
                      <% if @statement.next.present? %>
                        <div style="text-align: right;">
                          <%= link_to @statement.next do %>
                            <span title="Another Statement" class="btn btn-primary">Next ></span>
                          <% end %>
                        </div>
                      <% elsif @statement == @statement.po.statements.where(achieved: false).last %>
                        <div style="text-align: right;">
                          <%= link_to @statement.po.statements.where.not(achieved: true, type: "GeneralStatement").first do %>
                            <span title="Another Statement" class="btn btn-primary">Next ></span>
                          <% end %>
                        </div>
                      <% end %>
                    </td>
                  </tr>
                </tbody>
              </table>
            </center>
          <% else %>
            <center><%= link_to 'back to po', po_url(@statement.po), class: "btn btn-secondary" %></center>
          <% end %>
          <hr />
