<%= content_tag :button, id: 'gStatements', class: 'btn btn-success', data: { reflex: "click->StatementReflex#associates_generate", id: @statement.id } do %>
  generate associate statements
<% end %>
<%= render 'navigation', statement: @statement, :formats => [:html] %>
<div id="pdfLoading"></div>
<div class="invoice-image">
  <%= image_tag 'Bonar-Institute-Logo-for-Purposeful-Leadership-Primary.jpg', alt: 'Bonar Institute Logo', class: 'top-bottom-spacing', width: '350px' %>
  <h1><%= @statement.type.underscore.titleize %></h1>
  <div class="bold upcase"><small>PO Number: <%= @statement.po.po_number %></div>
    <div class="bold upcase"><small>Type: 
        <% unless @statement.type == "GeneralStatement" %>
          <%= @statement.invoice_type %></small></div>
    <% end %>
  </div>
  <% if @statement.type != "GeneralStatement" %>
    <p class="bold"><%= @statement.kind? %> Number: 
      <%= @statement.invoice_number %></p>
    <div class="top-bottom-spacing">
      <table width="100%">
        <tbody>
          <tr>
            <td style=" width: 50%; vertical-align: top;">
              <p class="bold">From:</p>
              <%= @statement.company_name %>
              <%= sanitize @statement.company_address %>
            </td>
            <td style=" width: 50%; vertical-align: top;">
              <p class="bold">To:</p>
              <%= @statement.po.company_name %><br />
              <%= @statement.participant_name %>
              <%= @statement.participant_address %>
            </td>
          </tr>
        </tbody>
      </table>
    <% end %>
    <% if @statement.type == "GeneralStatement" && ! @statement.no_general %>
      <div>
        <h3>Groups</h3>
        <% if @groups.any? %>
          <center>
            <% @groups.each do |group| %>
              <div class="installment-display" style="border-radius: 50px; width: 50%; vertical-align: top;">
                <div class="top-bottom-spacing">
                  <p class="bold center">Leader: <%= group.name %></p>
                  <p class="bold center">Contact: <%= mail_to group.email %></p>
                  <hr />
                  <ul>
                    <% group.members.each do |member| %>
                      <li class="left"><span class="bold"><%= member.name %>:</span> <%= mail_to member.email %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            <% end %>
          </center>
        <% end %>
      </div>
      <%= render partial: 'general', statement: @statement %>
    <% end %>
    <% if @statement.client || @statement.associate %>
      <%= link_to 'back to po', po_url(@statement.po), class: "btn btn-secondary" %>
      <% unless @statement.associate %>
        <%= button_tag class: "btn btn-info", data: { reflex: "click->StatementReflex#toggle", id: @statement.id }  do %>
          <% if @statement.show_detailed %>
            Show Less Information
          <% else %>
            Show Detailed Information
          <% end %>
        <% end %>
      <% end %>
      <%= button_tag class: "btn btn-warning", data: { reflex: "click->StatementReflex#send_statement", id: @statement.id }  do %>
        Send out this statement
      <% end %>
      <%= link_to 'PDF', statement_url(@statement) + '.pdf', id: 'openPDF', class: 'btn btn-success' %>
      <script>
        $("#openPDF").click(function() {
          document.getElementById("pdfLoading").textContent = "Loading <%= @statement.kind? %>: <%= @statement.invoice_number %>";
        });
      </script>
    <% end %>
    <div id="Print">
      <hr />
      <% if @statement.client %>
        <%= render partial: 'client', statement: @statement %>
      <% end %>
      <% unless @statement.type == "GeneralStatement" || @note == nil %>
        <div>
          <h2>Notes</h2>
          <%= form_for(@note) do |f| %>
            <%= f.hidden_field :notes, id: "notes"  %>
            <trix-editor input="notes"></trix-editor>
            <center><%= f.submit 'update notes', class: 'btn btn-success' %></center>
          <% end %>
        </div>
        <div>
          <h2>Terms & Conditions</h2>
          <%= form_for(@note) do |f| %>
            <%= f.hidden_field :terms, id: "terms"  %>
            <trix-editor input="terms"></trix-editor>
            <center><%= f.submit 'update terms & conditions', class: 'btn btn-success' %></center>
          <% end %>
        </div>
      <% end %>
      <% if @statement.associate && @statement.po.fixed_payments %>
        <br />
        <hr />
        <% i = 0 %>
        <% @rates.group_by(&:date).each do |date, rates| %>
          <% i = i + 1 %>
          <div>
            <h2>PERIOD <%= i %> SESSIONS COMPLETED BY <%= date.strftime("%B %e, %Y").upcase %></h2>
            <span class="black-td">
              Invoice by: <%= (date + @statement.po.lead_time_in_days.days).strftime("%b. %e, %Y")  %>
            </span>
            <ol>
              <% rates.group_by(&:person).each do |rate, prices| %>
                  <div class="rate">
                    <table>
                      <tbody>
                        <% prices.sort.each_with_index do |price, i| %>
                           <tr>
                            <% if i == 0 %> 
                              <td colspan="3", style="width: 100%;">
                                <hr />
                                <p class="bold" style="font-size: 1.25em;">New Item for <%= price.person %></p>
                               
                                 <li class="bold upcase"><%= rate %>
                              </td>
                              <% end %>
                            </tr>
                          <tr>
                            <td>
                              <%= price.item %>
                            </td>
                            <td>
                              <%= show_money(@statement, price.rate, "") %>
                            </td>
                            <td>
                              <%= button_tag 'X', class: 'btn-danger btn-sm', data: { reflex: "click->StatementReflex#remove", id: price.id } %>
                            </td>
                            </tr>
                           
                          </div>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </li>
            </ul>
            <br />
          <% end %>
        <% end %>
      </div>
    </ol>
  <% end %>
  <br />
  <%= render 'navigation', statement: @statement, :formats => [:html] %>
  <style>
    input { width: 50%; margin-bottom: 2px; }
  </style>
  <script>
    document.addEventListener("turbo:load", function () {
        var list = ""
        $input = $("[data-behavior='autocomplete']")
        $('#program-search').keydown(function (event) {
            if (event.which === 13 || event.keyCode === 13) {
                event.preventDefault();
                return false;
            }
            else return true;
        });
        var options = {
        getValue: "name",
        url: function(phrase) {
            return "/search_programs.json?q=" + phrase;
        },
        categories: [
            {
            listLocation: "saved_items",
            header: "<strong>Programs</strong>",
            },
        ],
        list: {
            onChooseEvent: function() {
            var url = $input.getSelectedItemData().url
            $input.val("")
            Turbo.visit(url)
            $(url).css("display", "block");
            $(url).css("background-color", "green");
            window.history.replaceState({}, document.title, window.location.href.split('#')[0]);
            setTimeout(function(){
                $(url).css("background-color", "transparent");
            }, 2500);

    $(url).click(function() {
        $(url).css("display", "none");
        list = "added"
        console.log(list)
        if (! list == "") {
            $("#done").css("display", "block");
        }

    });
            }
        }
        }
        $input.easyAutocomplete(options)

    });


        $("#done").click(function() {
            location.reload();
    });
  </script>
