<div class="invoice-image">
    <%= image_tag 'Bonar-Institute-Logo-Primary', class: 'top-bottom-spacing', width: '350px' %>   <h1><%= @statement.type.split("S").first %> Statement</h1>
</div>
<%= link_to 'back to po', po_path(@statement.po), class: "btn btn-secondary" %>
<% if @statement.type == "GeneralStatement" %>
    <%= render partial: 'general', statement: @statement %>
<% end %>
<% if @statement.type == "ClientStatement" || @statement.type == "AssociateStatement" %>
    <%= button_tag class: "btn btn-info", data: { reflex: "click->StatementReflex#toggle", id: @statement.id }  do %>
        <% if @statement.show_detailed %>
            Show Less Information
        <% else %>
            Show Detailed Information
        <% end %>
    <% end %>
    <%= link_to 'PDF', statement_path(@statement) + '.pdf', class: 'btn btn-success' %>
    <% end %>
<div id="Print">

<hr />
<% if @statement.type == 'ClientStatement' %>
<%= render partial: 'client', statement: @statement %>
<% end %>
    
<style>
    input { width: 50%; margin-bottom: 2px; }
</style>
