<%= render 'navigation', statement: @statement %>
<div id="pdfLoading"></div>
<div class="invoice-image">
  <%= image_tag 'Bonar-Institute-Logo-for-Purposeful-Leadership-Primary.jpg', alt: 'Bonar Institute Logo', class: 'top-bottom-spacing', width: '350px' %>
  <h1><%= @statement.type.underscore.titleize %></h1>
  <div class="bold upcase"><small>PO Number: <%= @statement.po.po_number %></div>
    <div class="bold upcase"><small>Type: 
        <% unless @statement.type == "GeneralStatement" %>
         <%= invoice_type(@statement) %></small></div>
         <% end %>
  </div>
  <% if @statement.type != "GeneralStatement" %>
    <p class="bold"><%= @statement.kind? %> Number: 
      <%= @statement.invoice_number %></p>
    <div class="top-bottom-spacing">
      <table width="100%">
        <tbody>
          <tr>
            <td style=" width: 50%; vertical-align: top;">
              <p class="bold">From:</p>
              <%= @statement.company_name %>
              <%= sanitize @statement.company_address %>
            </td>
            <td style=" width: 50%; vertical-align: top;">
              <p class="bold">To:</p>
              <%= @statement.po.company_name %><br />
              <%= @statement.participant_name %>
              <%= @statement.participant_address %>
            </td>
          </tr>
        </tbody>
      </table>
    <% end %>
    <% if @statement.type == "GeneralStatement" && ! @statement.no_general %>
      <%= render partial: 'general', statement: @statement %>
    <% end %>
    <% if @statement.client || @statement.associate %>
      <%= link_to 'back to po', po_url(@statement.po), class: "btn btn-secondary" %>
      <% unless @statement.associate %>
        <%= button_tag class: "btn btn-info", data: { reflex: "click->StatementReflex#toggle", id: @statement.id }  do %>
          <% if @statement.show_detailed %>
            Show Less Information
          <% else %>
            Show Detailed Information
          <% end %>
        <% end %>
      <% end %>
      <%= button_tag class: "btn btn-warning", data: { reflex: "click->StatementReflex#send_statement", id: @statement.id }  do %>
          Send out this statement
        <% end %>
      <%= link_to 'PDF', statement_url(@statement) + '.pdf', id: 'openPDF', class: 'btn btn-success' %>
      <script>
        $("#openPDF").click(function() {
          document.getElementById("pdfLoading").textContent = "Loading <%= @statement.kind? %>: <%= @statement.invoice_number %>";
        });
      </script>
    <% end %>
    <div id="Print">
      <hr />
      <% if @statement.client %>
        <%= render partial: 'client', statement: @statement %>
      <% end %>
      <% unless @statement.type == "GeneralStatement" || @note == nil %>
        <div>
          <h2>Notes</h2>
          <%= form_for(@note) do |f| %>
            <%= f.hidden_field :notes, id: "notes"  %>
            <trix-editor input="notes"></trix-editor>
            <center><%= f.submit 'update notes', class: 'btn btn-success' %></center>
          <% end %>
        </div>
        <div>
          <h2>Terms & Conditions</h2>
          <%= form_for(@note) do |f| %>
            <%= f.hidden_field :terms, id: "terms"  %>
            <trix-editor input="terms"></trix-editor>
            <center><%= f.submit 'update terms & conditions', class: 'btn btn-success' %></center>
          <% end %>
        </div>
      <% end %>
      <br />
      <%= render 'navigation', statement: @statement %>
      <style>
        input { width: 50%; margin-bottom: 2px; }
      </style>
      <script>
        document.addEventListener("turbo:load", function () {
            var list = ""
            $input = $("[data-behavior='autocomplete']")
            $('#program-search').keydown(function (event) {
                if (event.which === 13 || event.keyCode === 13) {
                    event.preventDefault();
                    return false;
                }
                else return true;
            });
            var options = {
            getValue: "name",
            url: function(phrase) {
                return "/search_programs.json?q=" + phrase;
            },
            categories: [
                {
                listLocation: "saved_items",
                header: "<strong>Programs</strong>",
                },
            ],
            list: {
                onChooseEvent: function() {
                var url = $input.getSelectedItemData().url
                $input.val("")
                Turbo.visit(url)
                $(url).css("display", "block");
                $(url).css("background-color", "green");
                window.history.replaceState({}, document.title, window.location.href.split('#')[0]);
                setTimeout(function(){
                    $(url).css("background-color", "transparent");
                }, 2500);

        $(url).click(function() {
            $(url).css("display", "none");
            list = "added"
            console.log(list)
            if (! list == "") {
                $("#done").css("display", "block");
            }

        });
                }
            }
            }
            $input.easyAutocomplete(options)

        });


            $("#done").click(function() {
                location.reload();
        });
      </script>
