<%= simple_form_for @po do |f| %>
  <% if @po.errors.any? %>
    <div id="error_explanation">
     The following errors prevented this PO from saving
      <ul>
      <% @po.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :title, maxlength: "100" %>  
  <small id="character-limit" class="no-show"></small>
  <%= f.input :description, placeholder: "Description can\'t be longer that 600 characters", maxlength: "605"  %>
  <div id="counter-container" class="no-show"><small>Description character count: <span id="characterCount">0</span>/600</small></div>
  <%= f.input :company_name %>
  <%= f.input :tax_amount %>
  <label>Start Date</label>  
  <%= f.text_field :start_date, class: 'flatpickr form-control', placeholder: 'select the start date', data: { controller: "flatpickr", flatpickr_enable_time: false, flatpickr_default_date: DateTime.now, flatpickr_date_format: "Y-m-d", flatpickr_disable_days_of_week: [0,6] } %>
  <label>End Date</label>
  <%= f.text_field :end_date, class: 'flatpickr form-control', placeholder: 'select the end date', data: { controller: "flatpickr", flatpickr_enable_time: false, flatpickr_default_date: DateTime.now, flatpickr_date_format: "Y-m-d", flatpickr_disable_days_of_week: [0,6] }  %>
  <%= f.input :service_type, as: :select, collection: Po::TYPE, label: 'Service Type' %>
  <%= f.input :currency, as: :select, collection: Po::CURRENCY, label: 'Client Currency' %>
  <div><%= f.submit class: 'btn btn-primary' %></div>
<% end %>

