 <% unless @po.statements.count > 1 %>
  <div id="addContacts"></div>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <div id="ethics" class="overlay">
    <div class="overlay-content">
      <div id="ethicsClose" class="closeContainter">
      </div>
      <div class="default">
        <% if @associates.count > 0 %>
          <table>
            <tbody>
              <tr>
                <td style="width: 80%;">
                <% end %>
                <h2 class="center">Add Participants</h2>
                <div class="top-bottom-spacing">
                  <% @users.group_by(&:type_of).each do |type_of, participants| %>
                    <h3 id="<%= type_of %>" class="center"><%= type_of %>s <button id="<%= type_of %>-button"
                            class="contact-button btn-sm">Go to <%= type_switch(type_of) %>s</button></h3>
                    <script>
                      $("#<%= type_of %>-button").click(function () {
                          $('html, body').animate({
                              scrollTop: $("#<%= type_switch(type_of) %>").offset().top
                          }, 500);
                      });
                    </script>
                    <div class="side-by-side smaller-side">
                      <div class="center upcase">Lookup <%= type_of %> by the letter</div>
                      <% participants.group_by(&:first_letter).sort.each do |first_letter| %>
                        <div class="contact-button" id="<%= type_of %>-button-<%= first_letter[0] %>">
                          <%= first_letter[0] %></div>
                        <script>
                          $("#<%= type_of%>-button-<%= first_letter[0] %>").click(function () {
                              $('html, body').animate({
                                  scrollTop: $("#<%= type_of%>-<%= first_letter[0] %>").offset().top
                              }, 500);
                          });
                        </script>
                      <% end %>
                      <a href="#addContacts" class="contacts">
                        <div class="contact-button upcase backToTop" id="backToTop">
                          Top
                        </div>
                      </a>
                      <script>
                        $(".backToTop").click(function () {
                          setTimeout( function() { window.history.replaceState({}, document.title, window.location.href.split('#')[0]); }, 100 );
                        });
                      </script>
                    </div>
                    <div class="side-by-side bigger-side">
                      <% participants.group_by(&:first_letter).sort.each do |first_letter, participants| %>
                        <div class="align-right scroll-btn" id="<%= type_of %>-<%= first_letter %>"><b><%= first_letter %></b>
                        </div>
                        <script>
                          $("#<%= type_of%>-<%= first_letter[0] %>").click(function () {
                              $('html, body').animate({
                                  scrollTop: $("#<%= type_of%>-<%= first_letter[0] %>").offset().top
                              }, 500);
                          });
                        </script>
                        <hr />
                        <% if type_of == "Associate" %>
                        <% end %>
                        <div>
                          <% participants.sort.each do |participant| %>
                            <% if ! PoUser.where(po_id: @po.id, participant_id: participant.id).any? %>
                              <%= content_tag :div, class: 'saved-item', data: { reflex: "click->PartitipantReflex#add", id: participant.id, po: @po.id }  do %>
                                <%= participant.name %>
                              <% end %>
                            <% else %>
                              <p class="upcase" style="padding-left: 5px;"> <%= type_of %> <strong><%= participant.name %></strong> has already been added to this PO. <%= button_tag class: "round-btn", data: { reflex: "click->PartitipantReflex#remove_participant", id: participant.po_users.where(po_id: @po.id).first.id, po: @po.id } do %>X<% end %></p>
                            <% end %>
                            <center>
                              <div>
                                <div class="change">
                                  <% if type_of == 'Associate' %>
                                    <div>
                                      <% if @po.found.blank? %>
                                        <div>
                                          <%= content_tag :button, class: 'btn btn-success', data: { reflex: "click->PartitipantReflex#initiator", id: @po.id, coordinator: participant.id } do %>
                                            Make <%= participant.member_name %> PO initiator
                                          <% end %>
                                        </div>
                                      <% elsif @po.found == participant.id %>
                                        <div>
                                          <%= content_tag :button, class: 'btn btn-danger', data: { reflex: "click->PartitipantReflex#remove_initiator", id: @po.id } do %>
                                            demote <%= participant.member_name %> from PO initiator role
                                          <% end %>
                                        </div>
                                      <% end %>
                                    </div>
                                    <% unless @results > 0 %>
                                      <% unless participant.profile.blank? || participant.image_link.blank? %>
                                        <% if check_for_r_user(@po, participant.id) %>
                                          <div>
                                            <%= content_tag :button, class: 'btn btn-success', data: { reflex: "click->FormReflex#add", id: @po.id, user: participant.id } do %>
                                              Add <%= participant.member_name %> to Selection Survey
                                            <% end %>
                                          </div>
                                        <% else %>
                                          <div>
                                            <%= content_tag :button, class: 'btn btn-danger', data: { reflex: "click->FormReflex#remove", id: @po.id , user: participant.id} do %>
                                              Remove <%= participant.member_name %> Selection Survey
                                            <% end %>
                                          </div>
                                        <% end %>
                                      <% end %>
                                    <% end %>
                                  <% end %>
                                </div>
                              </div>
                            </center>
                          <% end %>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% if @associates.count > 0 %>
        </td>
        <td style="vertical-align: top;">
          <% @po_users.group_by(&:type_of).each do |type_of, users| %>
            <% if type_of == "Associate" %>
              <% if @po.learning_coordinator.blank? %>
                <h2 class="center">Select Coordinator</h2>
              <% else %>
                <h2 class="center">Remove Coordinator</h2>
              <% end %>
            <% end %>
            <% users.each do |user| %>
              <div>
                <% if type_of == 'Associate' && ! @po.locked %>
                  <div>
                    <% if @po.learning_coordinator == user.participant_id %>
                      <%= content_tag :button, id: 'remove_coordinator', class: 'btn btn-danger', style:'width: 100%;', data: { reflex: "click->PartitipantReflex#remove_coordinator", id: @po.id } do %>
                        demote <%= user.participant.member_name %> as coordinator
                      <% end %>
                    <% else %>
                      <% if @po.learning_coordinator == nil %>
                        <div>
                          <%= content_tag :button, class: 'btn btn-success', style:'width: 100%;', id: 'add_coordinator', data: { reflex: "click->PartitipantReflex#coordinator", id: @po.id, coordinator: user.participant_id } do %>
                            make <%= user.participant.member_name %> coordinator
                          <% end %>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>
<% end %>
</div>
