<p id="notice"><%= notice %></p>

<h1>Pos</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Duration</th>
      <th>Created</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @pos.each do |po| %>
        <%= content_tag :tr, id: dom_id(po) do %>
          <td><%= po.title %></td>
          <td><%= po.description %></td>
          <td><%= po.duration %></td>
          <td><%= time_ago_in_words(po.created_at) %></td>
          <td><%= link_to 'Show', po %></td>
          <td><%= link_to 'Edit', edit_po_path(po) %></td>
          <td><%= link_to 'Destroy', po, data: {"turbo-method": :delete,
          confirm: 'Are you sure'}  %></td>
        <% end %>
    <% end %>
  </tbody>
</table>

<br>
  <%= link_to 'New Po', new_po_path, class: 'btn btn-primary' %>
