<div>
  <h1>PO <%= @po.po_number %>: <%= @po.title %></h1>
  <p style="text-transform: uppercase;"><b>Status: <%= @po.status %></b></p>
  <p>Service: <%= @po.service_type %></p>
  <p>Approximate completion time: <%= @po.duration %><br />
    <small class="highlight">From <%= read_date(@po.start_date) %> to <%= read_date(@po.end_date) %></small></p>
  <p>PO <%=sanitize @po.issued_by %></p>
  <% if @po.description.present? %>
    <div class="top-bottom-spacing">
      <p><b>Description</b></p>
      <%= @po.description %>
    </div>
  <% end %>
  <div>
    <div class="top-bottom-spacing change">
      <h2>Po Participants</h2>
      <div class="top-bottom-spacing">
        <p><span class="bold">Learning coordinator:</span> <%= @po.show_coordinator %></p>
        <p><span class="bold">PO initiator:</span> <%= @po.show_found %></p>
      </div>
      <% @po_users.group_by(&:type_of).each do |type_of, users| %>
        <div>
          <h3><%= type_of %>s</h3>
          <% users.each do |user| %>
            <div>
              <span class="upcase"><%= user.participant.name.split(".").last %> (<%= type_of %>)</span>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <h2>Installments</h2>
  <table style="width: 100%; margin: 1em;">
    <tbody>
      <tr>
        <td>
          <% if @po.installments.count == @po.number_of_installments %>
            <div class="upcase">Number of installments: <%= @po.number_of_installments %>
              (<%= @po.show_installments_total_psercent %>) | PO client currency: <%= show_currency(@po) %> | PO value:
              <%= @po.currency.html_safe.to_s + number_to_currency(@po.statements.first.subtotal).split("$").last %></div>
          <% end %>
          <% @po.installments.order([:id]).each_with_index do |installment, index| %>
            <% if installment.due_date.present? %>
              <div class="top-bottom-spacing">Installment <%= index + 1 %>: <span
            class="highlight"><%= read_date(installment.due_date) %></span> @ <%= installment.percentage %>%</div>
              <div><%= link_to 'Change due date', edit_installment_path(installment), class: 'btn btn-info' %></div>
            <% else %>
              <div class="top-bottom-spacing">Installment <%= index + 1 %>:
                <%= link_to 'No Due Date set for installment', edit_installment_path(installment), class: 'btn btn-info' %> @
                <%= installment.percentage %>%</div>
            <% end %>
          <% end %>
        </td>
        <td>
          <div data-reflex-permanent>
            <div id="loadingChart" class="center"></div>
            <div id="installmentChart">
              <%= pie_chart @pdf_chart_data, donut: true, legend: true, title: "Installment Percentages"  %>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <h2>Statements</h2>
  <ul>
    <% @po.statements.order(:type).reverse_order.each do |statement|%>
      <% unless statement.no_general %>
        <% if statement.type == 'GeneralStatement' %>
          <% unless statement.achieved %>
            <li><%= link_to "edit statement".capitalize, statement_url(statement), class: 'default-link' %></li>
          <% end %>
        <% else %>
          <li><%= link_to ass_type(statement).to_s + " " + statement.type.underscore.titleize.capitalize + ": " + statement.participant_name.split(".").last, statement_url(statement), class: 'default-link' %></li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
  <% unless @po.locked %>
    <center><button id="show-button" class="btn btn-warning">Adjust installments</button><button id="hide-button"
            class="no-show btn btn-secondary">I changed my mind...</button></center>
    <div class="top-bottom-spacing no-show" id="adjust-installments">
      <h2>Adjust the number and percentage of installments</h2>
      <%= text_field_tag 'set-installment' %>
      <small>Adjust number and percentage of installments using the following format "30 30 30 10", where the whole number
        is the percentage and the quanity of numbers is the amount of installments. To adjust in equal installment percentages use the buttons below.</small>
      <div class="top-bottom-spacing">
        <%= button_tag 'submit changes', type: "text",  id: "installment-submit", class: 'btn btn-secondary', data: { reflex: "click->InstallmentReflex#change", id: @po.installments.first.id, installments: "" } %>
      </div>
      <%= button_tag "1", class: 'btn-primary', style: 'border-radius: 50%; margin: 2px;', data: { reflex: "click->InstallmentReflex#change", id: @po.installments.first.id, installments: "100" } %>
       <%= button_tag "2", class: 'btn-primary', style: 'border-radius: 50%; margin: 2px;', data: { reflex: "click->InstallmentReflex#change", id: @po.installments.first.id, installments: "50 50" } %>
      <% number = 2
       58.times do 
       number = number + 1 %>
     <%= button_tag number.to_s, class: 'btn-primary', style: 'border-radius: 50%; margin: 2px;', data: { reflex: "click->InstallmentReflex#select_installments", id: @po.installments.first.id, installments: number.to_s } %>
 <% end %>
    <%= button_tag "Reset Defaults", class: 'btn-primary', style: 'border-radius: 5px; margin: 2px;', data: { reflex: "click->InstallmentReflex#change", id: @po.installments.first.id, installments: @po.options[:initial_installments].to_s } %>
  </div>
<% end %>
<%= link_to 'Edit', edit_po_path(@po), class: 'btn btn-warning' %>
<%= link_to 'Back', pos_path, class: 'btn btn-secondary' %>
<%= render 'populate', po: @po %>
<script>
  var installmentInput = document.getElementById("set-installment");
  $('#set-installment').bind({
    keydown: function (e) {

      if (e.which >= 96 && e.which <= 105) {
          return true;
      }
      if (e.which == 190 || e.which == 110) {
          return true;
        }
      if (e.shiftKey === true) {
        if (e.which == 9) {
          return true;
        }
        return false;
      }
      if (e.which > 57) {
        return false;
      }
      if (e.which == 32) {
        return true;
      }
      return true;
    }
  });
  $('#installment-submit').click(function() {
    document.getElementById("loadingChart").textContent = "Updating Installment Chart...";
    $("#installmentChart").hide();
    window.setTimeout(function () {
      window.location.reload();
    }, 3000);
  });
</script>
</div>
