<div>
  <h1>PO <%= @po.po_number %>: <%= @po.title %></h1>
  <%= render 'nav', po: @po %>
  <p style="text-transform: uppercase;"><b>Status: <%= @po.status %></b></p>
  <% if @po.accepting_submissions %>
    <p style="text-transform: uppercase;"><b>Selection Survey Access Code: <span class="green"><%= @po.access_code %></span></b></p>
  <% end %>
  <p>Service: <%= @po.service_type %></p>
  <p>Approximate completion time: <%= @po.duration %><br />
    <small class="highlight">From <%= read_date(@po.start_date) %> to <%= read_date(@po.end_date) %></small></p>
  <p>PO <%=sanitize @po.issued_by %></p>
  <% if @po.description.present? %>
    <div class="top-bottom-spacing">
      <p><b>Description</b></p>
      <%= @po.description %>
    </div>
  <% end %>
  <div>
    <div class="top-bottom-spacing change">
      <h2>Po Participants</h2>
      <div class="top-bottom-spacing">
        <p><span class="bold">Learning coordinator:</span> <%= @po.show_coordinator %></p>
        <p><span class="bold">PO initiator:</span> <%= @po.show_found %></p>
      </div>
      <% @po_users.group_by(&:type_of).each do |type_of, users| %>
        <div>
          <h3><%= type_of %>s</h3>
          <% users.each do |user| %>
            <div>
              <span class="upcase"><%= user.participant.name.split(".").last %> (<%= type_of %>)</span>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <% unless @results == 0 %>
      <% unless @groups.any? %>
        <h2>Po Survey Results</h2>
        <div id="survey-rank">
          Total number of rankings: <%= @results %> | 
          Number of surveys: <%= @number_of_forms.count %> | Number of Associates: <%= @po.rusers.count %>
        <% end %>
        <% unless @po.sorted %>
          <div>
            <%= content_tag :button, id: 'results-gen', class: 'btn btn-success', data: { reflex: "click->FormReflex#sort", id: @po.id } do %>
              Generate Results
            <% end %>
            <script>
              $('#results-gen').click(function() {
                  $("#survey-rank").hide();
                  window.setTimeout(function () {
              window.location.reload();
                  }, 200);
                });
            </script>
          </div>
        <% else %>
          <hr />
          <h3>Groups</h3>
          <% if @groups.any? %>
            <center>
              <% @groups.each do |group| %>
                <div class="installment-display" style="border-radius: 50px; width: 50%; vertical-align: top;">
                  <div class="top-bottom-spacing">
                    <p class="bold center">Leader: <%= group.name %></p>
                    <p class="bold center">Contact: <%= mail_to group.email %></p>
                    <hr />
                    <ul>
                      <% group.members.each do |member| %>
                        <li class="left"><span class="bold"><%= member.name %>:</span> <%= mail_to member.email %></li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              <% end %>
            </center>
          <% else %>
            <%= content_tag :button, class: 'btn btn-success', data: { reflex: "click->FormReflex#group", id: @po.id } do %>
              Finalize Rankings
            <% end %>
            <br />
            <% @number_of_forms.group_by(&:winner).each do |usr, forms| %>
              <div>
                <% if usr %>
                  <h4><%= usr.name %>: <%= forms.count %></h4>
                  <table style="width: 100%;" class="upcase">
                    <tbody>
                      <% forms.each do |form| %>
                        <tr>
                          <td style="width: 30%; vertical-align: top">
                            <li class="bold">
                              <%= form.name %>
                            </td>
                            <td style="width: 70%;">
                              <div>
                                <button id="show-<%= form.id %>" style="Width: 80%;"type="button" class="rounded btn-secondary upcase">Move <%= form.name %></button>
                                <div id="reveal-<%= form.id %>" class="hidden mt-4">
                                  <%= simple_form_for form do |f| %>
                                    <b><%= f.input :ranking, :collection => @po.rusers, :label_method => :party, :value_method => :participant_id,:include_blank => false, label: "Move #{form.name} to another group".titleize %></b>
                                    <%= f.submit 'Change', class: 'btn btn-success' %>
                                  <% end %>
                                </div>
                              </div>
                            </td>
                          </li>
                        </td>
                      </tr>
                      <script>
                        $("#reveal-<%= form.id %>").hide();
                        $("#show-<%= form.id %>").click( () => {
                          $("#reveal-<%= form.id %>").show();
                          $("#show-<%= form.id %>").hide();
                        });
                      </script>
                    <% end %>
                  </tbody>
                </table>
              </ol>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <hr />
  </div>
  <div class="ranks">
    <% @rankings.group_by(&:selected_user).each do |rank, users| %>
      <% if rank.present? %>
        <span class="po-selections">Associates Ranked: <%= rank %></span><br />
        <span style="display: inline">
          <ol>
            <% users.group_by(&:selected).each do |user, rankings| %>
              <div class="show-results">
                <li class="bold"><%= user.name %>: <%= rankings.count %></li>
              </div>
              <ul>
                <% rankings.each do |r| %>
                  <li><%= r.name %></li>
                <% end %>
              </ul>
              <br />
            <% end %>
          </ol>
        <% end %>
      <% end %>
    </span>
  <% end %>
</div>
<h2>Installments</h2>
<% if @po.installments.count == @po.number_of_installments %>
  <div class="upcase">Number of installments: <%= @po.number_of_installments %>
    (<%= @po.show_installments_total_percent %>) | PO client currency: <%= show_currency(@po) %> | PO value:
    <%= @po.currency.html_safe.to_s + number_to_currency(@po.statements.first.subtotal).split("$").last %> | Client Payment Lead Time: <%= @po.lead_time_in_days %> days</div>
<% end %>
<% unless @po.status.include?("Submitted") %>
  <div style="margin: 5px; padding: 5px; background-color: #e8e8e8e8; border: 1px dotted green;">
    <%= render 'change', po: @po %>
  </div>
<% end %>
<div>
  <center>
    <% @po.installments.order([:id]).each_with_index do |installment, index| %>
      <% if installment.due_date.present? %>
        <div class="installment-display">
          <div class="top-bottom-spacing">
            <p class="bold">Installment <%= index + 1 %>:</p>
            <p><span class="highlight">Client Due: <%= read_date(installment.due_date) %></span></p>
            <p>Associate Due: <%= read_date(installment.lead_time) %></p>
            <p>Portion: <%= installment.percentage %>%</p>
            <p>Cost: <u><%= sanitized_installment_money(installment, installment.cost) %></u></p>
          </div>
          <div><%= link_to 'Change due date', edit_installment_path(installment), class: 'btn btn-info' %></div>
        </div>
      <% end %>
    <% end %>
  </center>
</div>
<div data-reflex-permanent>
  <div id="loadingChart" class="center"></div>
  <div id="installmentChart">
    <%= pie_chart @pdf_chart_data, donut: true, legend: true, title: "Installment Percentages"  %>
  </div>
</div>
<h2>Statements</h2>
<ul>
  <% @po.statements.order(:type).reverse_order.each do |statement|%>
    <% unless statement.no_general %>
      <% unless statement.type == 'GeneralStatement' %>
        <li><%= link_to ass_type(statement).to_s + " " + statement.type.underscore.titleize.capitalize + ": " + statement.participant_name.split(".").last, statement_url(statement), class: 'default-link' %></li>
      <% end %>
    <% end %>
  <% end %>
</ul>
<% unless @po.statements.count > 1 %>
  No Statements yet.
<% end %>
<%= render 'populate', po: @po %>
<%= render 'nav', po: @po %>
</div>
