<%= turbo_frame_tag dom_id(discount) do %>
  <div id="discount-<%= discount.id %>">
    <% if discount.amount_type == 0 %>
      <% if discount.line_item.statement.type == "GeneralStatement" %>
        <%= show_money(discount.line_item.statement, (discount.line_item.cost * ("0." + (discount.amount).to_s).to_f), discount.line_item.statement.po) %>  off (<%= discount.amount %>%)
      <% else %>
        <%= show_money(discount.line_item.statement, (discount.line_item.cost * ("0." + (discount.amount).to_s).to_f), discount.line_item.statement) %>  off (<%= discount.amount %>%)
      <% end %>
    <% else %>
      <% if discount.line_item.statement.type == "GeneralStatement" %>
        <%= show_money(discount.line_item.statement, discount.amount, discount.line_item.statement.po) %> off
      <% else %>
        <%= show_money(discount.line_item.statement, discount.amount, discount.line_item.statement) %> off
      <% end %>
      <% end %>
      <%= button_tag 'X', id: "discount-submit#{discount.line_item.id}", class: 'btn-danger btn-sm', data: { reflex: "click->DiscountReflex#remove", id: discount.id } %>
    </div>
  <% end %>
