<%= turbo_frame_tag dom_id(discount) do %>
    <div>
        <% if discount.amount_type == 0 %>
            <%= show_money(discount.line_item.statement, (discount.line_item.cost * ("0." + (discount.amount).to_s).to_f)) %>  off (<%= discount.amount %>%)
        <% else %>
            <%= show_money(discount.line_item.statement, discount.amount) %> off
        <% end %>
        
        <%= button_tag 'X', id: "discount-submit#{discount.line_item.id}", class: 'btn-danger btn-sm', data: { reflex: "click->DiscountReflex#remove", id: discount.id } %>
    </div>
<% end %>