
<%= turbo_frame_tag dom_id(@discount) do %>
    <% flash.each do |msg_type, message| %>
        <div class="alert">
          <div class="container">
            <button class="close" data-dismiss="alert"><span>×</span></button>
            <%= message %>
          </div>
        </div>
    <% end %>
    <p>Discount Applied</p>
      <% if @discount.amount_type == 0 %>
          <%= @discount.amount %>% off
      <% else %>
          <%= show_currency(@discount.line_item.statement.po) %> <%= @discount.amount %> off
      <% end %>
      <%= button_tag 'remove', id: "discount-submit#{@discount.line_item.id}", class: 'btn btn-danger btn-sm', data: { reflex: "click->DiscountReflex#remove", id: @discount.id } %>
  <% end %>
