<%= simple_form_for(@line_item,  :url => line_items_path) do |f| %>
  <% if @line_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% @line_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
  <%= f.input   :statement_id, as: :hidden, :input_html => { :value => @statement.id } %>
  <div class="description-form" data-controller="countchar" data-countchar-limit="100">
  <%= f.input :title, maxlength: "100", :input_html => { "autocomplete": "off", "data-target": "countchar.title", "data-action": "keyup->countchar#countTitle" } %>
  <div><small>Title character count: <span data-target="countchar.titleCounter">0</span></small></div>
  </div>
  <small id="character-limit" class="no-show"></small>
  <div class="description-form" data-controller="countchar" data-countchar-limit="350">
      <%= f.input :description, placeholder: "Description can\'t be longer that 350 characters", maxlength: "355", :input_html => { "data-target": "countchar.description", "data-action": "keyup->countchar#countCharacters" } %>
      <div><small>Description character count: <span data-target="countchar.counter">0</span></small></div>
  </div>
  <%= f.input :cost, step: 0.01, data: { action: "form-validation#handleChange" } %>
  <%= f.input :taxable, data: { action: "form-validation#handleChange" }, label: 'Taxable in Canada' %>
  <%= f.input :type, as: :select, collection: LineItem::TYPE, label: 'Item Type', data: { action: "form-validation#handleChange" } %>

  </div>

  <div class="form-actions">
      <br />
      <center>
          <%= f.button :submit, 'create item', class: 'btn btn-primary w-full',  disabled: @line_item.errors.any?  %>
      </center>
  </div>
<% end %>