
<%= simple_form_for(@line_item) do |f| %>
  <% if @line_item.errors.any? %>
  <div id="error_explanation">
   The following errors prevented this line item from saving
    <ul>
    <% @line_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


  <div class="form-inputs">
  <%# f.input   :statement_id, as: :hidden, :input_html => { :value => current_user.id } %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :cost %>
  <%= f.input :taxable %>
  <%= f.input :type, as: :select, collection: LineItem::TYPE, label: 'Type' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>