<h1>Edit <%= @rate.title %></h1>
<br />
<%= simple_form_for(@rate) do |f| %>
  <%= f.input :rate %>
  <%= f.input :status, as: :select, collection: Rate::TYPE, label: 'Status' %>
  <label>Due Date</label>
  <%= f.text_field :due_date, class: 'flatpickr form-control', placeholder: 'Select the due date', data: { controller: "flatpickr", flatpickr_enable_time: false, flatpickr_date_format: "Y-m-d", flatpickr_disable_days_of_week: [0,6] }  %>
  <%= f.submit "Add Item", class: 'btn btn-success' %>
<% end %>
