<h1>Edit <%= @rate.title %></h1>
<br />
<%= simple_form_for(@rate) do |f| %>
  <%= f.input :title %>
  <%= f.input :rate %>
  <%= f.input :status, as: :select, collection: Rate::TYPE, label: 'Status' %>
  <%= f.submit "Add Item", class: 'btn btn-success' %>
<% end %>
