<!DOCTYPE html>
<html>
  <head>
    <title>PoGen</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbo-track': 'reload' %>
    
  </head>

  <body>
  <%= render 'layouts/notices' %>
    <%= yield %>

<script>
var poTitle100 = document.getElementById("line_item_title")
var lineItemTitle100 = document.getElementById("po_title")

if (lineItemTitle100) {
  document.addEventListener("turbo:load", () => {
    showLimit(lineItemTitle100);
  });

  document.addEventListener("turbo:render", () => {
    showLimit(lineItemTitle100);
  });
}

if (poTitle100) {
  document.addEventListener("turbo:load", () => {
    showLimit(poTitle100);
  });

  document.addEventListener("turbo:render", () => {
    showLimit(poTitle100);
  });
}

function showLimit(element) {
  var titleLimit = document.getElementById("character-limit");
  titleLimit.style.color = 'red';
  element.addEventListener('keyup', () => { 
    var length = element.value.length;
    if (length === 100) {
      titleLimit.classList.remove('no-show');
      titleLimit.textContent = 'Your title can\'t be any longer';
    } else {
      titleLimit.classList.add('no-show');
    }
  });
}

var description = document.getElementById("po_description");
if (description) {
  document.addEventListener("turbo:load", () => {
    characterCount(description, 600);
  });

  document.addEventListener("turbo:render", () => {
    characterCount(description, 600);
  });
}
var description2 = document.getElementById("line_item_description");
if (description2) {
  document.addEventListener("turbo:load", () => {
    characterCount(description2, 350);
  });

  document.addEventListener("turbo:render", () => {
    characterCount(description2, 350);
  });
}

function characterCount(element, len) {
  var counter = document.getElementById("characterCount");
  var container = document.getElementById("counter-container");
  element.addEventListener('keyup', () => {
      container.classList.remove('no-show');
      var length = element.value.length;
      counter.textContent = length;
      if (length <= len) {
        container.style.color = 'green';
        counter.style.textDecoration = 'none';
        container.style.fontWieght = '500';
      } else {
        container.style.color = 'red';
        counter.style.textDecoration = 'line-through';
        container.style.fontWieght = '700';
      }
      if (length === 0) {
        container.classList.add('no-show');
      } else {
        container.classList.remove('no-show');
      }
  });
}
</script>
  </body>
</html>
