<!DOCTYPE html>
<html>
  <head>
    <title>Work @ the Bonar Institute</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbo-track': 'reload' %>
  </head>
  <body>
    <div class="nav_d"></div>
    <%= render 'layouts/notices' %>
    <%= render 'layouts/nav' %>
    <%= yield %>
  </body>
</html>
