<html>
  <head>
    <!DOCTYPE html>
    <meta charset="utf-8">
    <%= javascript_include_tag "http://code.jquery.com/jquery-1.10.0.min.js" %>
    <%= javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.min.js" %>
  </head>
  <body>
    <% 
    def statement_money(record1, record2, record3)
      if record1.model_name == "Statement" && record1.type =="GeneralStatement"
        if record1.po.currency.to_s.include?('$')
          return number_to_currency(record2)
        else
          return record1.po.currency.to_s + number_to_currency(record2).split("$").last
        end
      else
        return show_money(record1, record2, record3)
      end
    end

        def expenses
          expenses = 0.0
          @statement.line_items.where(type: "ExpenseItem").all.each do |exp|
          if exp.expense_exempt_from_tax
            expenses = expenses + exp.expense_cost
            else
            expenses = expenses + exp.expense_cost + @statement.percentage_amount(exp_expense_cost, @statement.po.tax_amount)
            end
          end
          return expenses
        end

        def po_ass_type
          if @statement.rs
            return "Share"
          elsif @statement.founder
            return "Initiator"
         else
            return "Associate"
          end
        end
      %>
    <div class="invoice-image">
      <table width="100%">
        <tbody>
          <tr>
            <td style=" width: 50%;">
              <%= image_tag 'https://drive.google.com/uc?export=view&id=1FzZiKhw7XzJLJOwSmJwIY7aA9QzbUDTz', alt: 'Bonar Institute Logo', class: 'top-bottom-spacing', width: '350px' %>
            </td>
            <td style=" width: 50%;">
              <h1><%= @statement.kind? %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr />
      <p class="bold"><%= @statement.kind? %> Number: 
        <%= @statement.invoice_number %></p>
      <div class="top-bottom-spacing">
        <table width="100%">
          <tbody>
            <tr>
              <td style=" width: 50%; vertical-align: top;">
                <p class="bold">From:</p>
                <%= @statement.company_name %>
                <%= sanitize @statement.company_address %>
              </td>
              <td style=" width: 50%; vertical-align: top;">
                <p class="bold">To:</p>
                <%= @statement.po.company_name %><br />
                <%= @statement.participant_name %>
                <%= @statement.participant_address %>
              </td>
            </tr>
          </tbody>
        </table>
        <% unless @statement.associate %>
          <p><span class="bold">Service Category:</span> <%= @statement.po.service_type %></p>
        <% end %>
      </div>
    </div>
    <% if @statement.client %>
      <table width="100%">
        <tbody>
          <td style="width: 25%; text-transform: uppercase; color: #750019;">
            <b>Item</b>
          </td>
          <td style="width: 50%; text-transform: uppercase; color: #750019;">
            <b>Description</b>
          </td>
          <td style="width: 25%; text-transform: uppercase; color: #750019;">
            <b>Price</b>
          </td>
          <% items = '' 
            @line_items.map { |item| items = 'yes' if item.discounts.any? } %>
          <td style="width: 25% text-transform: uppercase; color: #750019;">
            <% if items == 'yes' %>
              <b>Adjustments</b>
            <% end %>
          </td>
          <% if @statement.show_detailed == true %>
            <% @line_items.each do |item| %>
              <tr class="td-border">
                <td style="width: 25%; vertical-align: top;" class="td-border">
                  <%= item.title %>
                </td>
                <td style="width: 50%" class="td-border">
                  <%=sanitize item.description %>
                </td>
                <% if items == 'yes' %>
                  <td style="width: 12.5%; vertical-align: top;" class="td-border">
                    <%= statement_money(@statement, item.cost, @statement) %>
                  </td>
                  <td style="width: 12.5%; vertical-align: top;" class="td-border">
                    <% item.discounts.each do |discount| %>
                      <div class="center"><%= render 'discount', discount: discount %></div>
                    <% end %>
                  </td>
                <% else %>
                  <td style="width: 25%; vertical-align: top;" class="td-border">
                    <%= statement_money(@statement, item.cost, @statement) %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td style="width: 25%" class="td-border">
                Professonal Services
              </td>
              <td style="width: 50%" class="td-border">
                Customized business solutions
              </td>
              <% if items == 'yes' %>
                <td style="width: 12.5%" class="td-border">
                  <%= show_money(@statement, @statement.no_discount_cost, @statement) %>
                </td>
                <td style="width: 12.5%;" class="td-border">
                  - <%= statement_money(@statement, @statement.total_discounts, @statement) %>
                </td>
              <% else %>
                <td style="width: 25%" class="td-border">
                  <%= statement_money(@statement, @statement.no_discount_cost, @statement) %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
    <div>
      <% if items == 'yes' %>
        <strong>
          <p class="upcase">Value of Items: <%= statement_money(@statement, @statement.no_discount_cost) %></p>
          <p class="green upcase">Discounts: (<%= statement_money(@statement, @statement.total_discounts) %>)</p>
        </strong>
      <% end %>
      <h3 class="upcase">
        <% if @statement.associate %>
          Client 
        <% end %>
        Subtotal: <%= statement_money(@statement, @statement.subtotal, @statement) %>
      </h3>
      <% if @statement.associate %>
        <h3>
          Your Total: <%= statement_money(@statement, @statement.percentage_amount(@statement.subtotal, @statement.percentage), "") %>
        </h3>
        <b><%= po_ass_type %> Percentage: <%= @statement.percentage %>%</b><br />
        <% unless @statement.founder || @statement.rs %>
          Number of associates that participated with this PO: <%= @statement.number_participating_associates %><br />
        <% end %>
        <small>See "How the <%= po_ass_type %> Toal is Calculated?" below for more information.</small>
        <br />
      <% end %>
    </div>
    <div>
      <h2>Payment Information</h2>
      <% unless @statement.po.installments.count == 1 %>
        <h3>Payment Breakdown</h3>
        <div style="width: 50%; margin-left: auto; margin-right:auto;">
          <canvas id="chartContainer" width="400" height="250" alt="Installment Breakdown Pie Chart" title="Installment Pie Chart"></canvas>
        </div>
        <div class="page-break"></div>
        <h4>Amounts & Due Dates</h4>
      <% end %>
      <% if @statement.po.installments.count != 1 %>
        <% @statement.po.installments.order(:position).each do |installment| %>
          <% if @statement.client %>
            <p><b>Payment <%= installment.position %>:</b> <%= statement_money(installment, installment.cost, @statement) %> due on <b><%= installment.due_date.strftime("%B %e, %Y") %></b>
            <% else %>
              <p><b>Payment <%= installment.position %>:</b> <%= statement_money(installment, @statement.percentage_amount(installment.cost, @statement.percentage), @statement) %> to be made on or after <b><%= installment.due_date.strftime("%B %e, %Y") %></b><sup>*</sup>
              <% end %>
            <% end %>
          <% else %>
            <% if @statement.client %>
              <b>Payment of <%= statement_money(@statement.po.installments.first, @statement.po.installments.first.cost, @statement) %> due on <%= @statement.po.installments.first.due_date.strftime("%B %e, %Y") %></b>
            <% else %>
              <b>Payment of <%= statement_money(@statement.po.installments.first, @statement.percentage_amount(@statement.po.installments.first.cost, @statement.percentage), @statement) %> due on or after <%= @statement.po.installments.first.due_date.strftime("%B %e, %Y") %></b></b><sup>*</sup>
          <% end %>
        <% end %>
        <% if @statement.associate %>
          <br />
          <br />
          <small>* Dependent upon receipt of client installment amount.</small>
        <% end %>
      </div>
    </div>
    <div class="default-link">
      <h2>Notes</h2>
      <%= sanitize @statement.statement_note.notes %>
      <h2>Terms & Conditions</h2>
      <%= sanitize @statement.statement_note.terms %>
      <% if @statement.client %>
        <br />
        <div class="issued-box">
          <p><%= sanitize @statement.po.issued_by %></p>
          <hr />
          <p class="center">
            If you have any questions, concerns or comments, please contact don't hesitate to get in touch.
          </p>
        </div>
      <% end %>
    </div>
    <div>
      <% if @statement.associate %>
        <div class="page-break"></div>
        <div class="calculator-box">
          <h2 class="center">How the <%= po_ass_type %> Toal is Calculated?</h2>
          <table style="width: 100%; border: 1px solid black;">
            <tbody>
              <th colspan="2" style="padding: 1em;">
                <strong>Variables</strong>
              </th>
              <tr>
                <td>
                  <strong>Client Amount:</strong>
                  <td>The Client Subtotal for this PO (<%= statement_money(@statement, @statement.subtotal, @statement) %>)</td>
                </td>
              </tr>
              <tr>
                <td>
                  <strong><%= po_ass_type %> Percentage:</strong>
                  <td>The <%= po_ass_type %> Percentage, as per Bonar Institute Associates Aggreement (<%= @statement.percentage %>%)</td>
                </td>
              </tr>
              <% unless @statement.founder || @statement.rs %>
                <tr>
                  <td>
                    <strong>Expenses:</strong>
                    <td>The costs related to assessments, presentations, etc. (<%=statement_money(@statement, expenses) %>)</td>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Associates:</strong>
                    <td>The number of associates that participated in this PO (<%= @statement.number_participating_associates %>).</td>
                  </td>
                </tr>
              <% end %>
              <tr>
                <td>
                  <strong>Your Total:</strong>
                  <td>Your portion of Client Total (<%= statement_money(@statement, @statement.percentage_amount(@statement.subtotal, @statement.percentage), @statement) %>)</td>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="formula">
            <p><b>The Formula</b></p>
            <% unless @statement.founder ||  @statement.rs %>
              <span>((<b>Client Amount</b> x 0.(<b>Associate Percentage</b>)) - <b>Expenses</b>) &#247; <b>Associates</b> = <b>Your Totoal</b></span>
            <% else %>
              <span>(<b>Client Amount</b> x 0.(<b><%= po_ass_type %> Percentage</b>)) = <b>Your Totoal</b></span>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </body>
  <style>
    @import "bootstrap";

    body {
      margin-left: 2em;
      margin-right: 2em;
      padding-top: 1.5em;
      padding-bottom: 1.5em;
    }

    h2 {
      color: gray;
      border-bottom: 1px solid gray;
      margin-top: 3em;
      padding: 2px;

    }

    .issued-box {
      border: 2px solid #750019;
      padding: 1em;
      margin-top: 1em;
      border-radius: 5px;
    }

    .page-break {
      display: block;
      clear: both;
      page-break-after: always;
    }

    table,
    p,
    span,
    div {
      font-size: 20px !important;
    }

    table {
      border-collapse: collapse;
    }

    table tr:not(:last-child) {
      border-top: 1px solid #600a15;
      border-bottom: 1px solid #600a15;
    }

    .td-border {
      padding: 1em;
    }


    td {
      padding: .5em;
    }

    #set-installment {
      width: 100%;
    }

    .top-bottom-spacing {
      padding-top: 1.3em !important;
      padding-bottom: 1.3em !important;
    }

    .center {
      text-align: center;
    }

    .upcase {
      text-transform: uppercase;
    }

    .total-box {
      padding: 1em;
      border-top: 2px solid green;
    }

    .tax {
      font-weight: 700;
      padding: 1em;
      text-transform: uppercase;
      font-size: 1.3em;
    }

    .green {
      color: green;
      border-bottom: 2px solid green;
      padding-bottom: .6em;
    }

    .extra-padding {
      padding: .5em;
    }

    .btn-sm {
      border-radius: 50%;
    }

    .invoice-image h1,
    .invoice-image img {
      display: inline-block !important;
      text-transform: uppercase;
    }

    .invoice-image img {
      margin-right: 2em;
    }

    .discount-applied {
      padding: 2px;
      margin-bottom: 2px;
      color: green;
      width: 170px;
      text-align: center;
      text-transform: uppercase;
    }

    .td-border td {
      padding: 1em;

    }

    .bold {
      font-weight: 700;
    }

    #chartContainer {
      width: 100%;
      height: auto;
    }

    .default-link a {
      color: navy !important;
      border-bottom: 1px solid grey;
      text-decoration: none !important;
      margin: .2rem;
    }

    .calculator-box {
      border: 2px solid green;
      border-radius: 25px;
      padding-left: 2em;
      padding-right: 2em;
      padding-bottom: 2em;
    }

    .calculator-box td {
      font-size: 1rem;
    }

    .formula {
      width: 100%;
      pading: 1em;
      margin-top: 1em;
    }

    .formula p {
      text-align: center;
    }

    .formula span {
      font-size: 1rem !important;
    }
  </style>
  <script>
    function drawPieChart(data, colors) {
        var canvas = document.getElementById("chartContainer");
        var context = canvas.getContext("2d");

        // get length of data array
        var dataLength = data.length;
        // declare variable to store the total of all values
        var total = 0;

        // calculate total
        for (var i = 0; i < dataLength; i++) {
            // add data value to total
            total += data[i][1];
        }

        // declare X and Y coordinates of the mid-point and radius
        var x = 100;
        var y = 100;
        var radius = 100;

        // declare starting point (right of circle)
        var startingPoint = 0;

        for (var i = 0; i < dataLength; i++) {
            // calculate percent of total for current value
            var percent = data[i][1] * 100 / total;

            // calculate end point using the percentage (2 is the final point for the chart)
            var endPoint = startingPoint + (2 / 100 * percent);

            // draw chart segment for current element
            context.beginPath();
            // select corresponding color
            context.fillStyle = colors[i];
            context.moveTo(x, y);
            context.arc(x, y, radius, startingPoint * Math.PI, endPoint * Math.PI);
            context.fill();

            // starting point for next element
            startingPoint = endPoint;

            // draw labels for each element
            context.rect(220, 25 * i, 15, 15);
            context.fill();
            context.fillStyle = "black";
            context.fillText(data[i][0] + " (" + data[i][1] + "%)", 245, 25 * i + 15);
        }


    }

    var data = <%= sanitize @pdf_chart_data.to_s %> ;
    var colors = <%= sanitize @statement.colors.to_s %>;

    // using the function
    drawPieChart(data, colors);
  </script>
</html>
